@use '../variables';

.articles-list {
    margin-top: 100px;
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.shifted-article {
    display: flex;
    position: relative;
    align-items: center;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: flex-end;
    text-align: left;
    flex-direction: row-reverse;
    gap: 100px;
    
    &__text {
        width: 50%;
    }

    &__description {
        max-width: 760px;
    }

    &__title {
        display: block;
        background-color: variables.$orange;
        color: white;
        width: fit-content;
        max-width: 500px;
        padding: 5px 75px 5px 75px;
        text-transform: uppercase;
    }

    &__img {
        height: 100%;
        width: calc(50% - 100px);
        object-fit: cover;
    }

    &::after {
        content: "";
        border: variables.$orange 2px solid;
        z-index: 100;
        top: -20px;
        left: 0px;
        display: block;
        position: absolute;
        height: 100%;
        width: calc(50% + 5px);
        border-left: none;
    }

    &__description {
        margin-top: 50px;
        padding-left: 75px;
        padding-right: 75px;
        line-height: 1.75;
    }
    
    &:nth-child(even) {
        text-align: right;
        flex-direction: row;
        justify-content: flex-end;

        .shifted-article__title {
            margin-left: auto;
            margin-right: 0;
        }

        .shifted-article__description {
            margin-left: auto;
            margin-right: 0;
        }
        &::after {
            left: auto;
            right: 0px;
            border-left: 2px solid variables.$orange;
            border-right: none;
        }
    }   
}