@use '../variables';

.shifted-article {
    display: flex;
    position: relative;
    align-items: center;
    width: 100%;
    min-height: 500px;
    display: flex;
    justify-content: flex-end;
    text-align: left;
    flex-direction: row-reverse;
    gap: 100px;
    
    &__text {
        width: 51%;
    }

    &__description {
        max-width: 760px;
        margin-top: 50px;
        padding-left: 75px;
        padding-right: 75px;
        line-height: 1.75;
    }

    &__title {
        display: block;
        background-color: variables.$orange;
        color: white;
        width: fit-content;
        max-width: 500px;
        padding: 5px 75px 5px 75px;
        text-transform: uppercase;
        position: relative;
        z-index: 10;
    }

    &__img {
        height: 500px;
        width: calc(49% - 100px);
        object-fit: cover;
    }

    &::after {
        content: "";
        border: variables.$orange 1px solid;
        z-index: 9;
        top: -20px;
        left: 0px;
        display: block;
        position: absolute;
        height: 100%;
        height: 500px;
        width: calc(50%);
        border-left: none;
    }

    &_swap-by-one {
        &:nth-child(even) {
            text-align: right;
            flex-direction: row;
            justify-content: flex-end;
    
            .shifted-article__title {
                margin-left: auto;
                margin-right: 0;
            }
    
            .shifted-article__description {
                margin-left: auto;
                margin-right: 0;
            }
            &::after {
                left: auto;
                right: 0px;
                border-left: 1px solid variables.$orange;
                border-right: none;
            }
        }
    }

}

@media screen and (max-width: 1440px) {

    .shifted-article {
        gap: 50px;
        
        &__text {
            width: 61%;
            
        }

        &__title {
            padding-left: 20px;
            padding-right: 20px;
        }

        &__description {
            padding-left: 25px;
            padding-right: 25px;
        }

        &__img {
            width: calc(39% - 50px);
        }
        &::after {
            width: calc(40%);
        }
    }
}

@media screen and (max-width: 768px) {

    .shifted-article {
        align-items: start;
        gap: 7px;
        
        &__text {
            width: 71%;
        }

        &__title {
            padding-left: 20px;
            padding-right: 20px;
            font-size: 21px;
            letter-spacing: 1px;
        }

        &__description {
            padding-right: 15px;
            padding-left: 15px;
            font-size: 14px;
            margin-top: 0px;
        }

        &__img {
            width: calc(29% - 10px);
        }
        &::after {
            width: calc(29%);
        }
    }
}

