@use '../variables';

.addresses {
    width: variables.$large-width;
    margin: 40px auto 100px auto;
    list-style-type: none;
    padding-left: 0;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.address {
    position: relative;
    display: flex;

    &__img, &__text {
        width: 50%;
    }

    &__country, &__email {
        font-weight: 700;
    }

    &__email {
        margin-top: 25px;
    }

    &__text {
        font-size: 18px;
        letter-spacing: 1px;
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        gap: 10px;
        margin-top: 30px;
        margin-bottom: 30px;
        line-height: 24px;
    }

    &::before {
        position: absolute;
        content: "";
        top: -50px;
        display: block;
        width: 100%;
        height: 2px;
        background-color: #CBAC78;
    }

    &:first-child {
        &::before {
            display: none;
        }
    }
}

.bread-crumbs {
    width: variables.$large-width;
    margin: auto auto 10px auto;
    margin-top: 50px;

    &__devider {
        display: inline-block;
        margin-left: 10px;
        margin-right: 10px;
        
    }
}

@media screen and (max-width: 1820px) {
    .bread-crumbs {
        width: variables.$default-width;
    }
}


@media screen and (max-width: 1440px) {
    .bread-crumbs {
        width: variables.$medium-width;
    }
}

@media screen and (max-width: 1024px) {
    .bread-crumbs {
        width: variables.$small-width;
        margin-top: 20px;
    }
}

@media screen and (max-width: 768px) {
    .bread-crumbs {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        font-size: 10px;
    }
}