@use '../variables';

.advantages {
    background-image: url('../img/giant-building-with-sun.jpg');
    background-position: 50% 75%;
    background-size: cover;
    text-align: center;
    color: white;
    margin-top: 50px;

    &__title {
        margin-bottom: 30px;
    }

    &__text {
        line-height: 1.4;
        font-size: 28px;
        font-weight: lighter;
        letter-spacing: 1px;
        padding-bottom: 100px;
    }

    &__wrapper {
        width: 100%;
        background-color: rgba(12, 66, 167, 0.712);
        padding-top: 50px;
    }

    &__title, &__text {
        width: variables.$large-width;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 1820px) {
    .advantages {
        &__title, &__text {
            width: variables.$default-width;
        }
    }
}

@media screen and (max-width: 1440px) {
    .advantages {
        &__title, &__text {
            width: variables.$medium-width;
        }

        &__text {
            font-size: 20px;
        }
    }
}

@media screen and (max-width: 1024px) {
    .advantages {
        &__title, &__text {
            width: variables.$small-width;
        }

        &__text {
            font-size: 20px;
        }
    }
}