@use '../variables';

$img-width: 400px;

.article {
    width: variables.$view-width;
    margin-left: auto;
    margin-right: auto;

    &__title {
        color: variables.$blue;
    }
    &__text {
        font-weight: 500;
        font-size: 20px;
        color: variables.$dark;
        line-height: 1.25;
    }
    &__img {
        width: $img-width;
    }

    &__text-with-img {
        display: flex;
        gap: 50px;
        width: 100%;
        flex-wrap: nowrap;
        align-items: flex-start;
        height: max-content;
        margin-top: 50px;
        margin-bottom: 50px;

        p {
            width: calc(100% - $img-width);
        }
    }
}