@use '../variables';

.button {
    display: block;
    margin: 0px auto 0px auto;
    background-color: variables.$orange;
    border: none;
    text-decoration: none;
    height: 50px;
    min-height: 50px;
    color: white;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    padding-left: 100px;
    padding-right: 100px;

    &_transparent {
        color: variables.$orange;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 1px;
        border: 1px solid variables.$orange;
        background-color: white;
    }

    &_full-width {
        width: 100%;
    }

    &:hover {
        cursor: pointer;
    }
}