@use '../variables';

.header {
    &_main {
        background-image: url("../img/skyscraper-urban-view.jpg");
        background-position: center;
        background-size: cover;
        height: 100vh;
        max-height: 1080px;
        min-height: 640px;
    }
    position: relative;
}

.header-info {
    backdrop-filter: blur(5px);
    background-color: rgba($color: #FFFFFF, $alpha: 0.3);
    display: flex;
    justify-content: space-between;
    width: variables.$large-width;
    padding-left: variables.$large-padding;
    padding-right: variables.$large-padding;

    &__links {
        display: flex;
        justify-content: space-between;
        font-weight: 700;
        font-size: 24px;
        flex-grow: 2;
    }

    &__logo {
        display: flex;

        .header-logo {
            margin-bottom: 10px;
            margin-top: 10px;
        }
    }

    &__logo::after {
        margin-right: 50px;
        margin-left: 50px;
        content: '';
        display: inline-block;
        width: 3px;
        background-color: variables.$blue;
    }

    &__logo {
        height: 100%;
    }

    &__more-button {
        display: none;
    }
}

.contacts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    width: 210px;
    height: 125px;
    margin-top: 15px;

    &__mail {
        width: 100%;
        text-align: center;
        text-decoration: none;
        color: variables.$blue;
        letter-spacing: 2px;
        display: block;
        grid-column: 1 / -1;
    }

    &__img {
        height: 40px;
        width: 40px;
    }
}

.phone-numbers {
    line-height: 2.25;
    margin: 25px 0 0 0;

    &__link {
        letter-spacing: 2px;
        color: variables.$blue;
        text-decoration: none;
    }
}

.search {
    position: relative;
    margin-top: 40px;

    &__input {
        color: #FFFFFF;
        height: 36px;
        border: none;
        background-color: #A9A9A9;
        padding: 0 0 4px 50px;
        font-size: 18px;
    }
    
    &__input::placeholder {
        color: white;
        text-transform: lowercase;
        font-style: italic;
    }

    &__icon {
        height: 40px;
        width: 50px;
        position: absolute;
    }
}

.navigation {
    backdrop-filter: blur(1px);
    background-color: rgba($color: variables.$blue, $alpha: 0.7);
    height: 60px;
    display: flex;
    justify-content: space-between;
    width: variables.$large-width;
    padding-left: variables.$large-padding;
    padding-right: variables.$large-padding;
    align-items: center;

    &__close-button {
        display: none;
    }

    &__services-button, &__item, &__lead-button {
        color: white;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 35px;
        text-transform: uppercase;
        width: 150px;
    }

    &__item {
        height: 100%;
    }

    &__services-button {
        background: none;
        border: #FFFFFF 1px solid;
        font-weight: 600;
        position: relative;
        justify-content: flex-start;
        padding-right: 30px;
        padding-left: 30px;
        width: 160px;
    }

    &__button-arrow {
        position: absolute;
        width: 20px;
        right: 20px;
    }

    &__lead-button {
        background-color: variables.$orange;
        border: none;
        width: 250px;
    }

    &__item:hover, &__services-button:hover {
        background-color: rgba($color: variables.$blue, $alpha: 0.8);
        cursor: pointer;
    }

    &__lead-button:hover {
        cursor: pointer;
    }
}

.header-lead {
    width: 100%;
    max-height: calc(1080px - 220px);
    height: calc(100vh - 220px);
    min-height: calc(640px - 220px);

    &__background {
        background-color: rgba($color: variables.$blue, $alpha: 0.4);
        max-height: calc(1080px - 220px - 50px);
        height: calc(100vh - 220px - 50px);
        min-height: calc(640px - 220px - 50px);
        padding: 50px 50px 0 0;
        width: 50%;
        display: flex;
        flex-direction: column;
    }

    &__title {
        color: white;
        font-size: 60px;
        margin-top: 0;
        display: block;
        flex-grow: 2;
        position: static;
        margin-left: variables.$large-padding;
        width: calc(variables.$large-width / 2);
    }

    &__title::after {
        content: "";
        position: relative;
        z-index: 0;
        display: block;
        background-color: white;
        margin-top: 10vh;
        left: calc(0px - variables.$large-padding);
        width: calc(50% + 50px + variables.$large-padding);
        height: 2px;
    }

    &__text {
        color: white;
        font-size: 25px;
        margin-left: variables.$large-padding;
    }

    &__button {
        margin-left: variables.$large-padding;
        margin-top: 50px;
        background-color: variables.$orange;
        border: none;
        text-decoration: none;
        height: 50px;
        min-height: 50px;
        width: 300px;
        color: white;
        font-weight: 600;
        font-size: 18px;
        text-transform: uppercase;
        margin-bottom: 75px;
    }
    
    &__button:hover {
        cursor: pointer;
    }
}

@media screen and (max-height: 950px) {

    .header-lead {
        &__title {
            font-size: 40px;
        }

        &__button {
            margin-top: 25px;
        }
    }   
}

@media screen and (max-height: 750px) {

    .header-lead {
        &__title {
            font-size: 40px;
            margin-bottom: 0;
        }

        &__title::after {
            margin-top: 20px;
        }

        &__text {
            margin-bottom: 10px;
            margin-top: 10px;
        }

        &__button {
            margin-top: 10px;
            margin-bottom: 25px;
        }
    }   
}

@media screen and (max-width: 1820px) {
    .header {
        max-height: 810px;
    }


    .header-info {
        width: variables.$default-width;
        padding-left: variables.$default-padding;
        padding-right: variables.$default-padding;


        &__logo::after {
            margin-right: 25px;
            margin-left: 25px;
        }
    }


    .navigation {
        width: variables.$default-width;
        padding-left: variables.$default-padding;
        padding-right: variables.$default-padding;
    }

    .header-lead {
        max-height: calc(1080px - 490px);
        height: calc(100vh - 220px);

        &__background {
            padding-top: 10px;
            height: calc(100vh - 220px - 10px);
            min-height: calc(640px - 220px - 10px);
            max-height: calc(1080px - 490px - 10px);
        }
    
        &__title {
            font-size: 40px;
            margin-bottom: 0;
        }

        &__text, &__title, &__button {
            margin-left: variables.$default-padding;
        }

        &__text, &__title {
            width: calc(variables.$default-width / 2);
            margin-top: 10px;
        }

        &__title::after {
            margin-top: 20px;
            left: calc(0px - variables.$default-padding);
            width: calc(50% + 50px + variables.$default-padding);
        }
    }   
}



@media screen and (max-width: 1440px) {
    .header {
        &_main {
            max-height: 760px;
        }
    }

    .navigation {
        &__services-button {
            margin-right: 30px;
        }

        &__lead-button {
            width: 200px;
            margin-left: 15px;
        }

        &__item, &__services-button, &__lead-button {
            font-size: 14px;
        }

        width: variables.$medium-width;
        padding-left: variables.$medium-padding;
        padding-right: variables.$medium-padding;
    }

    .contacts {
        height: 90px;
        margin-top: 5px;
        
        &__img {
            height: 30px;
            width: 30px;
        }

        &__mail {
            font-size: 20px;
        }
    }

    .phone-numbers {
        display: none;
    }
        
    .header-info {
        width: variables.$medium-width;
        padding-left: variables.$medium-padding;
        padding-right: variables.$medium-padding;
        height: 100px;
    }

    .header-lead {
        max-height: calc(1080px - 490px);
        min-height: calc(640px - 160px - 10px);
        height: calc(100vh - 160px);

        &__background {
            padding-top: 10px;
            height: calc(100vh - 160px - 10px);
            min-height: calc(640px - 160px - 10px);
            max-height: calc(1080px - 490px);
        }
    
        &__title {
            font-size: 40px;
        }

        &__text {
            font-size: 20px;
        }

        &__title, &__text {
            width: calc(variables.$medium-width / 2);
        }

        &__title, &__text, &__button {
            margin-left: variables.$medium-padding;
        }

        &__title::after {
            margin-top: 20px;
            left: calc(0px - variables.$medium-padding);
            width: calc(50% + 50px + variables.$medium-padding);
        }
    }
}


@media screen and (max-width: 1024px) {
    .header {
        &_main {
            max-height: auto;
            min-height: 510px;
        }
        
        max-height: 510px;
    }

    .navigation {
        display: none;
        position: absolute;
        top: 0;
        background-color: rgba($color: variables.$blue, $alpha: 1);
        width: 100%;
        padding-left: 0;
        z-index: 100;
        height: auto;
        gap: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        grid-template-columns: 1fr 4fr 1fr;
        align-items: start;
        justify-items: center;

        &__item, &__lead-button {
            grid-column: 2 / 3;
        }
        
        &__services-button {
            grid-row: 1 / 6;
            grid-column: 1 / 2 ;
            margin: 10px;
            margin-top: 0;
            width: 170px;
        }

        &__close-button {
            display: block;
            background: none;
            border: none;
            position: absolute;
            top: 0;
            right: 0;
            z-index: 120;

            img {
                padding-bottom: 0px;
                padding-left: 0px;
                transform: rotate(180deg);
                width: 50px;
                height: 50px;
            }
        }
    }

    .contacts {
        display: none;
    }

    .search {
        display: none;
    }

    .phone-numbers {
        display: none;
    }
        
    .header-info {
        width: variables.$small-width;
        padding-left: variables.$small-padding;
        padding-right: variables.$small-padding;
        height: 100px;

        &__logo::after {
            display: none;
        }

        &__more-button {
            display: block;
            height: 100%;
            background: none;
            border: none;
        }

        &__more-button-img {
            height: 100%;
        }
    }

    .header-lead {
        height: 400px;
        min-height: auto;
        max-height: auto;
        

        &__background {
            padding-top: 10px;
            height: 400px;
            min-height: auto;
            max-height: auto;
            width: calc(variables.$small-width - 100px);
            padding-left: calc(variables.$small-padding + 50px);
            padding-right: calc(variables.$small-padding + 50px);
        }
    
        &__title {
            font-size: 32px;
            text-transform: none;
            flex-shrink: 0;
            max-height: 150px;
        }

        &__text {
            font-size: 24px;
            font-weight: 600;
        }

        &__title, &__text {
            width: 100%;
            text-align: center;
            margin-left: 0;
            margin-top: 25px;
        }

        &__button {
            margin-top: 30px;
            margin-left: auto;
            margin-right: auto;
        }

        &__title::after {
            left: 0;
            width: 100%;
        }
    }
}


@media screen and (max-width: 768px) {
    .header {
        &_main {
            max-height: 340px;
        }

        // height: 340px;
        min-height: auto;
    }

    .header-info {
        width: calc(100% - 20px);
        padding-left: 20px;
        height: 60px;

        &__more-button {
            display: block;
            height: 100%;
            background: none;
            border: none;
        }

        &__more-button-img {
            height: 100%;
        }
    }

    .header-lead {
        height: 280px;
        min-height: auto;

        &__background {
            padding-top: 10px;
            height: 280px;
            width: 100%;
            padding-top: 0;
            padding-left: 0;
        }
    
        &__title {
            font-size: 21px;
            text-transform: none;
            flex-grow: 0;
            max-height: 150px;
            letter-spacing: 1px;
        }

        &__text {
            font-size: 16px;
            line-height: 1.5;
            font-weight: 600;
            margin-top: 15px;
        }

        &__title, &__text {
            text-align: center;
            width: variables.$smallest-width;
            margin-left: auto;
            margin-right: auto;
        }

        &__button {
            margin-top: 5px;
            margin-left: auto;
            margin-right: auto;
            height: 35px;
            width: 200px;
            font-size: 14px;
            min-height: auto;
            max-height: auto;
        }

        &__title::after {
            left: 0;
            width: 100%;
        }
    }
    .navigation {
        grid-template-columns: 1fr;
        align-items: start;
        justify-items: center;

        &__item, &__lead-button {
            grid-column: 1 / 2;
            margin: 5px;
        }
        
        &__services-button {
            grid-row: 1 / 2;
            grid-column: 1 / 2 ;
            margin: 10px;
            width: 170px;
        }
    }
}