@use "../variables";

.our-services {
    margin-top: 50px;
    &__title {
        text-align: center;
        text-transform: uppercase;
        font-size: 28px;
    }
    &__list {
        width: variables.$view-width;
        padding-left: calc((100% - variables.$view-width) / 2);
        padding-right: calc((100% - variables.$view-width) / 2);
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        column-gap: 100px;
        row-gap: 10px;
        margin-top: 50px;
    }
}

.service {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;

    &__img {
        width: 100px;
    }

    &__title {
        font-weight: 600;
    }

    &__text {
        margin: 0;
        line-height: 1.5;
        font-weight: 500;
    }
}