@use '../variables';

$img-width: 575px;
$img-height: 400px;

.service-details {
    min-height: calc($img-height + 50px);
    position: relative;
    padding-top: 25px;

    &__img {
        height: 400px;
        width: calc($img-width + variables.$large-padding);
        float: left;
        object-fit: cover;
        margin: 25px 220px 25px 0;
    }

    &__title {
        font-size: 24px;
        text-transform: none;
        letter-spacing: 1px;
        margin-top: 25px;
        margin-bottom: 20px;
    }

    &__page-number {
        font-size: 40px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        color: #D3D3D3;
        position: absolute;
        top: -10px;
        right: variables.$large-padding;
    }

    &__devider {
        display: block;
        width: calc(variables.$large-width - $img-width - 220px);
        margin-left: calc($img-width + variables.$large-padding + 220px);
        height: 2px;
        background-color: #D3D3D3;
        right: variables.$large-padding;
    }

    &__devider_for-list {
        width: 100%;
        position: absolute;
        left: 0;
        margin-left: 0;
        bottom: -15px;
    }

    &__description {
        font-size: 18px;
        font-weight: 500;
        line-height: 1.25;
        width: variables.$large-width;
        margin-left: auto;
        margin-right: auto;
    }

    &__points {
        counter-reset: item;
        list-style-type: none;
        padding-left: 0;
        margin-bottom: 50px;
    }

    &__point {
        line-height: 40px;
        position: relative;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        font-size: 24px;
        color: black;
        margin: 0 0 25px 0;
        width: calc(100% - $img-width - variables.$large-padding * 2 - 220px);
    }

    &__point-text {
        display: block;
        max-width: 800px;
    }

    &::before {
        letter-spacing: 1px;
        top: 25px + 100px;
        right: calc(variables.$large-padding + variables.$large-width - $img-width - 110px);
        position: absolute;
        content: attr(service-title);
        display: block;
        text-align: center;
        color: white;
        background-color: variables.$orange;
        font-weight: 600;
        font-size: 24px;
        padding-left: 50px;
        padding-right: 50px;
        line-height: 50px;
        margin: 0;
        max-width: 700px;
        min-width: 300px;
        text-transform: uppercase;
        width: max-content;
    }

    &::after {
        content: "";
        border: variables.$orange 1px solid;
        z-index: 100;
        top: 5px;
        left: 0px;
        display: block;
        position: absolute;
        height: 400px;
        width: calc(variables.$large-padding + $img-width + 80px);
        border-left: none;
    }

    &:nth-child(even) {
        & li::before {
            display: inline-block;
            content: "0" counter(item);
            counter-increment: item;
            font-size: 40px;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            color: #D3D3D3;
            right: variables.$large-padding;
        }

        & li {
            text-align: right;
        }

        .service-details__point {
            margin-left: variables.$large-padding;
        }

        & img {
            float: right;
            object-fit: cover;
            margin: 25px 0 25px 220px;
        }

        &::before {
            left: calc(variables.$large-padding + variables.$large-width - $img-width - 110px);

        }

        &::after {
            right: 0px;
            left: auto;
            border-left: variables.$orange 1px solid;
            border-right: none;
        }
    }

    &:nth-child(odd) {
        & li::after {
            display: inline-block;
            content: "0" counter(item);
            counter-increment: item;
            font-size: 40px;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            color: #D3D3D3;
            right: variables.$large-padding;
        }
    }
}

.service-list {
    list-style-type: none;
    padding-left: 0;
}
