@use 'variables';
@use 'blocks/header';
@use 'blocks/our-services';
@use 'blocks/advantages';
@use 'blocks/about-us';
@use 'blocks/lead';
@use 'blocks/footer';
@use 'blocks/article';
@use 'blocks/addresses';
@use 'blocks/news';
@use 'blocks/button';
@use 'blocks/employees';
@use 'blocks/service';

@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway-VariableFont_wght.ttf');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway-Italic-VariableFont_wght.ttf');
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}

html {
    font-family: Raleway;
    color: #555555;
}

h2, h1 {
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.span-bold {
    font-weight: 700;
}