@use 'variables';
@use 'blocks/header';

@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway-VariableFont_wght.eot');
    src: url('fonts/Raleway-VariableFont_wght.eot?#iefix') format('embedded-opentype'),
        url('fonts/Raleway-VariableFont_wght.woff') format('woff'),
        url('fonts/Raleway-VariableFont_wght.woff2') format('woff2'),
        url('fonts/Raleway-VariableFont_wght.svg#Raleway-VariableFont_wght') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway-Italic-VariableFont_wght.eot');
    src: url('fonts/Raleway-Italic-VariableFont_wght.eot?#iefix') format('embedded-opentype'),
        url('fonts/Raleway-Italic-VariableFont_wght.woff') format('woff'),
        url('fonts/Raleway-Italic-VariableFont_wght.woff2') format('woff2'),
        url('fonts/Raleway-Italic-VariableFont_wght.svg#Raleway-Italic-VariableFont_wght') format('svg');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

html {
    font-family: Raleway, sans-serif;
    // background-color: variables.$blue;
}