@use 'variables';
@use 'blocks/header';
@use 'blocks/our-services';
@use 'blocks/advantages';

@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway-VariableFont_wght.ttf');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway-Italic-VariableFont_wght.ttf');
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}

html {
    font-family: Raleway;
}

.shifted-article__img {
    width: 5px;
}