// Цвета
$blue: #2c5386d4;
$orange: #a28038;
$dark: #555555;

// Все остальные
$large-width: 1720px;
$large-padding: calc((100vw - $large-width) / 2);

// Меньше 1820px
$default-width: 1350px;
$default-padding: calc((100vw - $default-width) / 2);

// Меньше 1480px
$medium-width: 960px;
$medium-padding: calc((100vw - $medium-width) / 2);

// Меньше 768px
$small-width: 720px;
$small-padding: calc((100vw - $small-width) / 2);

// Меньше
$smallest-width: 300px;
$smallest-padding: calc((100vw - $smallest-width) / 2);